BasedOnStyle: Microsoft
Language: Cpp

UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
BreakBeforeBraces: Linux

AllowShortIfStatementsOnASingleLine: true

AllowShortLoopsOnASingleLine: true

AllowShortBlocksOnASingleLine: true

IndentCaseLabels: true

SortIncludes: false

AlignConsecutiveMacros: AcrossEmptyLines

AlignConsecutiveAssignments: Consecutive
